{{!< default }}

<div style="color: rgb(0, 0, 0); text-align: left;">
  <p style="padding-bottom: 16px">Dear [employee name],</p>
  <p style="padding-bottom: 16px">Congratulaions on, and welcome to, your first
    day at Mailmeteor! We are all so excited to welcome you.</p>
  <p style="padding-bottom: 16px">We're looking forward to seeing you on [date
    of arrival] at [time] for your onboarding session. When you arrive, ask for
    [manager's name] who will be help you get settled in your office before
    taking you to meet the rest of the team.</p>
  <p style="padding-bottom: 16px">We look forward to having you come on board.</p>
  <p style="padding-bottom: 16px">Best regards,<br />[Your name]</p>
</div>