<header style="text-align: left;">
  <div style="padding-bottom: 20px;">
    <img
      src="https://i.ibb.co/Qbnj4mz/logo.png"
      alt="Company"
      style="width: 56px;"
    />
  </div>
</header>